httpd:
  server: httpd
  service: httpd
  conf: /etc/httpd/conf/httpd.conf
  conf_dir: /etc/httpd/conf.d/
  # Remove server info and version
  production: True
  # Add mod_ssl and remove SSL Weak ciphers
  ssl: True
